<%%- include('./src/controllers/includes/head.ejs') %>

<body>

    <%%- include('./src/controllers/includes/navigation.ejs') %>

    <main class="add-product--container container">
        <%% if( errorMessage ) { %>

            <div><%%= errorMessage %></div>

        <%% } %>
        <form class="row login-form" action="/login" method="POST" novalidate>
            <div class="product-form form-group">
                <label for='email'>Email</label>
                <input class="form-control <%%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"" type="email" name="email" id='email' value="<%%= oldInput.email %>">
            </div>
            <div class="product-form form-group">
                <label for='password'>Password</label>
                <input class="form-control <%%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"" type="password" name="password" id='password' value="<%%= oldInput.password %>">
                <!--form-control-file for input box-->
            </div>
            <input type="hidden" name="_csrf" value="<%%= csrfToken %>">
            <button type="submit">login</button>
        </form>
        <div>
            <a href="/reset"> Reset Password </a>
        </div>
    </main>
</body>
</html>