<%%- include('./src/controllers/includes/head.ejs') %>

<body>

    <%%- include('./src/controllers/includes/navigation.ejs') %>

    <main class="add-product--container container">
        <%% if( errorMessage ) { %>

            <div><%%= errorMessage %></div>

        <%% } %>
        <form class="row login-form" action="/new-password" method="POST">
            <div class="product-form form-group">
                <label for='password'>Password</label>
                <input class="form-control" type="password" name="password" id='password'>
                <!--form-control-file for input box-->
            </div>
            <input type="hidden" name="_csrf" value="<%%= csrfToken %>">
            <input type="hidden" name="passwordToken" value="<%%=  passwordToken %>"> 
            <input type="hidden" name="userId" value="<%%= userId %>">
            <button type="submit">Update Password</button>
        </form>
    </main>
</body>
</html>